body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  
  font-family: 'Raleway', sans-serif;
}
.navbar-header{
  width: 100%;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/logo1.png) no-repeat center center;
  width: 150px;
  height: 150px;
  background-size: 95% 95%;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */

  font-family: 'Raleway', sans-serif;
  color: #5e298a;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none; 
}

.navbar-toggler{
  float:right;
}
.nav-link{
  float: right;
}

.dropdown-divider{
  border-color: grey;
}

#myNavbar{
  color: #61122f;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.dropdown a{
  padding: 12px 16px;
  color: #78122F;
}

.dropdown a:hover, .dropdown a:focus{
  background-color: inherit;
  color: #61122f;
  font-weight: 600; 
}
.d-md-block a{
  text-align: center;
}

#dpbuttonh a:hover, #dpbuttonh a:focus{
  background-color: #dbb014;
  font-weight: normal;
  transition: 0.1s;
  border-radius: 6px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.d-md-none .dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
}

button.navbar-toggler{
  clear:right;
}
/* END HEADER */

